body {
    /* Encriptador - 1 Desktop */


    position: relative;
    width: 1440px;
    height: 1024px;

    /* Light blue/light-blue-100 */

    background: #F3F5FC;
}

header {
    /* Logo */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

header img {
    /* Vector */


    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
}

main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.input-texto {
    /* Ingrese el texto aqui */
    resize: none;
    border: none;
    outline: none;
    background-color: #F3F5FC;
    position: absolute;
    width: 577px;
    height: 600px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */


    /* Dark blue/dark-blue-300 */

    color: #0A3871;
}

.input-texto::placeholder {
    color: #0A3871;
}

.restriccion {
    /* Frame 1 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}

.img-admiracion {
    /* Vector */


    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.restriccion p {
    /* Solo letras minúsculas y sin acentos */

    position: absolute;
    width: 205px;
    height: 18px;
    left: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Gray/gray-400 */

    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    /* Frame 3 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.encriptar {
    /* Button */
    cursor: pointer;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.encriptar p {
    /* Button */


    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.desencriptar {
    /* Button */
    cursor: pointer;

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.desencriptar p {
    /* Button */


    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.caja-resultado {
    /* Rectangle 1 */


    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mensaje {
    display: none;
    resize: none;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    position: absolute;
    width: 336px;
    height: 781px;
    left: 32px;
    top: 32px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    /* or 36px */


    /* Gray/gray-400 */

    color: #495057;
}

.caja-resultado img {
    /* Muñeco */


    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 243px;

}

.no-mensaje {
    /* Ningún mensaje fue encontrado */
    position: absolute;
    width: 336px;
    height: 58px;
    left: 32px;
    top: 579px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.ingrese-mensaje {
    /* Ingresa el texto que desees encriptar o desencriptar. */
    position: absolute;
    width: 336px;
    height: 58px;
    left: 32px;
    top: 653px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.copiar {
    /* Button */
    cursor: pointer;

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 845px;

    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    display: none;
}

.copiar p {
    /* Button */

    width: 288px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}